.signup-btn:hover{
    background-color: #95D2EC ;
}
.login-btn:hover {
    background-color: #95D2EC ;
}
.newevent-btn{
    background-color: #95D2EC ;
}
/*.newevent-btn:hover{*/
/*    background-color: #95D2EC ;*/
/*}*/
.nav-logo {
     color: #FF4242;
}