
body {
    /*background-color: #f1f1f1;*/
    background-color: rgb(255, 255, 255);
}

.my-text-color {
    color: #727e83;
}

.my-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
    box-shadow: none;
    /*background-color: transparent;*/
    border: none;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.my-red-color {
    color: #f77462;
}

.my-blue-color {
    color: #36bff7;
}

.main {
    margin-top: 140px;
}

.my-blue-btn {
    box-shadow: none;
    background-color: transparent;
    border: none;
    color: #36bff7;
}

.my-blue-btn:hover {
    background-color: #95D2EC;
    color: white;
    /*font-weight: bold;*/
}

.my-blue-btn-invert {
    box-shadow: none;
    background-color: #36bff7;
    border: none;
    color: white;
}
.my-blue-btn-invert:focus {
    box-shadow: none;
    background-color: #36bff7;
    border: none;
    color: white;
}

.my-blue-btn-invert:hover {
    box-shadow: none;
    background-color: transparent;
    border: none;
    color: #36bff7;
}

.my-red-btn {
    background-color: transparent;
    color: #f77462;
    border: none;

}

.my-red-btn:hover {
    background-color: #f77462;
    color: white;
    /*font-weight: bold;*/
}

.my-red-btn-inverted {
    background-color: #f77462;
    color: white;
}
.my-red-btn-inverted:focus {
    background-color: #f77462;
    color: white;
}

.my-red-btn-inverted:hover {
    background-color: transparent;
    color: #f77462;
    border: none;
}

.react-datepicker-wrapper {
    width: 100%;
    margin-top: 20px;
}

.react-calendar {
    width: 100%;
    border: none;
}

/*.loginbtn {*/
/*  background-color: #ed7966 !important;*/
/*}*/

